<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chatbotimage1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatbotimage1"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpTalk_AI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.VoiceAssitentTest"
            android:exported="false"
            android:parentActivityName="gptalkai.gptalk.gptalk_ai.Mainpage"/>
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.VoiceAssitent"
            android:exported="false"
            android:parentActivityName="gptalkai.gptalk.gptalk_ai.Mainpage" />
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.Brainshop_Api"
            android:exported="false" />
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.chatbotpage"
            android:exported="false"
            android:parentActivityName="gptalkai.gptalk.gptalk_ai.Mainpage" />
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.Mainpage"
            android:exported="false" />
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.getstarted_page"
            android:exported="false" />
        <activity
            android:name="gptalkai.gptalk.gptalk_ai.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>